#main-div{
  display: flex;
  flex-direction: column;
  height: 100%;
}

#to-dos{
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
}

#personal-todo, #work-todo {
  width: 25%;
}

#freestyle {
  width: 50%;
}

#week-and-days{
  display: flex;
  flex-direction: row;
  /* GET RID OF */
  border: 1px solid black;
  /* GET RID OF */
  height: 60%;
  justify-content: space-between;
}

#weekday-div {
  width: 15%;
  /* display: flex;
  justify-content: center; */
  justify-content: space-evenly;
}

#week-focus, #weekday-div, #to-dos, #personal-todo, #work-todo {
  border: 1px solid black;
}

#week-focus {
  width: 270px;
}

h4 {
  margin: 0px;
}

#week-of{
  position: relative;
  left: -85px;
  top: -60px;
  transform: rotate(270deg);
}

#day-today{
  font-weight: 900;
  padding-bottom: 10px;
  position: relative;
  top: -20px;
  right: -40px;
}

#week-of-container{
  margin: 5px;
  border: 1px solid black;
}

#focus-for-week, #good-things-that-happened, #motivational-quote{
  border: 1px solid black;
  margin: 5px;
}

#focus-for-week h4, #good-things-that-happened h4, #motivational-quote h4{
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
}

#focus-for-week textarea, #good-things-that-happened textarea, #motivational-quote textarea{
  border: transparent;
  height: 100px;
  width: 97.3%;
}