body {
  font-family: sans-serif;
}

#main-div{
  display: flex;
  flex-direction: column;
  height: 100%;
}

#to-dos{
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
}

#personal-todo, #work-todo {
  width: 25%;
}

#freestyle {
  width: 50%;
}

#week-and-days{
  display: flex;
  flex-direction: row;
  /* GET RID OF */
  /* border: 1px solid black; */
  /* GET RID OF */
  height: 60%;
  justify-content: space-between;
  margin-bottom: 35px;
}

#weekday-div {
  width: 15%;
  /* display: flex;
  justify-content: center; */
  justify-content: space-evenly;
  /* border: 1px solid black; */
  margin: 0 2px;
}
/* 
#week-focus, #weekday-div, #to-dos, #personal-todo, #work-todo {
  border: 1px solid black;
} */

#personal-todo, #work-todo, #freestyle {
  border: 1px solid black;
}

#week-focus {
  width: 270px;
  transform: scale(0.95);
  position: relative;
  top: -20px;
}

h4 {
  margin: 0px;
}

#week-of-div {
  transform: scale(0.8);
}

#week-of{
  position: relative;
  left: -110px;
  top: -60px;
  transform: rotate(270deg);
}

#day-today{
  font-weight: 900;
  padding-bottom: 10px;
  position: relative;
  top: -27px;
  right: -55px;
  font-size: 22px;
}

#week-of-container{
  height: 70px;
  margin: 5px;
  border: 1px solid black;
}

#focus-for-week, #good-things-that-happened, #motivational-quote{
  border: 1px solid black;
  margin: 5px;
}

#focus-for-week h4, #good-things-that-happened h4, #motivational-quote h4, #personal-todo h4, #work-todo h4, #freestyle h4{
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
}

#focus-for-week textarea, #good-things-that-happened textarea, #motivational-quote textarea{
  border: transparent;
  height: 100px;
  width: 97.3%;
}

textarea {
  resize: vertical;
}

#weekday-gray {
  display: flex;
  background-color: lightgray;
  color: white;
  justify-content: space-between;
  border: 1px solid black;
}

#weekday-gray h4 {
  padding: 9px 5px 9px 5px;
  margin: 4px 5px 4px 0;
  background-color: white;
  color: black;
  border: 1px solid white;
  
}

#weekday-gray h3{
  margin: 12px 0;
  padding-left: 10px;
}

#weekday-today-focus {
  margin-top: 4px;
  border: 1px solid black;
  height: 7%;
  background-color: white;
}

#today-focus-1 {
  transform: rotate(270deg);
  position: relative;
  top: -90px;
  left: -90px;
}

#today-focus-2 {
  transform: rotate(270deg);
  position: relative;
  top: -131px;
  left: -80px;
}

#weekday-today-focus textarea{
  width: 80%;
  position: relative;
  top: -95px;
  left: 30px;
  resize: none;
  border-color: transparent;
}

#hour-container-list {
  margin-top: 5px;
  list-style: none;
  padding-left: 4px;
}

#hour-container-list li {
  font-size: 72%;
  padding-bottom:2px;
  display: flex;
  height: 13.2px;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

#hour-container-list p {
  margin: 0;
}

#hour-container-list textarea {
  border: 0;
  resize: none;
  width: 83%;
}